.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.main_container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home_page {
    background-color: #23272A;
}

.sign_in_page {
    background-color: #23272A;
}

.sign_in_container {
    background-color: #7289da;
    border-radius: 10px;
}

.navigation_bar {
    background-color: #16191c;
    position: sticky;
    top: 0;
}

.navigation_bar_item {
    font-family: 'TW Cen MT';
}

.input_field { 
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
}

.input_field:focus {
    background-color: white;
    outline: none;
}

.waffle_header {
    font-family: 'Montserrat Alternates', sans-serif;
}

.message_container {
    width: 35%;
    min-height: 20vh;
    height: auto;
    max-height: 30vh;
    background-color: #7289da;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;
}

.message_container .message_item:nth-child(1) {
    min-height: 7vh;
}

.message_container .message_item:nth-child(2) {
    min-height: 4vh;
}

.message_container .message_item:nth-child(3) {
    min-height: 9vh;
}

.auth_greetings {
    font-size: 10pt;
}

.auth_greetings span { 
    font-family: 'Pacifico', cursive;
}

.auth_greetings span p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.auth_greetings p {
    font-family: 'Caveat', cursive;
}

.auth_greetings h5 {
    font-family: 'Press Start 2P', cursive;
}

.auth_button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #23272A;
    height: 2.75em;
}