.bold {
    font-weight: bold;
}

.lighter {
    font-weight: lighter;
}

.main_container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.full_page {
    background-color: #23272A;
}

.authentication_page {
    background-color: #23272A;
}

.authentication_container {
    background-color: #7289da;
    border-radius: 10px;
    animation: grow_from_center 1s;
}

.message_creation_container {
    background-color: #7289da;
    border-radius: 10px;
    animation: grow_from_center 1s;
}

.navigation_bar {
    background-color: #16191c;
    top: 0;
}

.navigation_bar_item {
    font-family: 'TW Cen MT';
}

.bottom_bar {
    background-color: #16191c;
    bottom: 0;
}

.input_field { 
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
}

.input_field:focus {
    background-color: white;
    outline: none;
}

.input_field_label {
    font-family: 'TW Cen MT';
    font-size: 13pt;
}

.waffle_header {
    font-family: 'Montserrat Alternates', sans-serif;
}

.message_container {
    width: 35%;
    height: auto;
    max-height: 30vh;
    background-color: #7289da;
    border-radius: 10px;
    font-family: 'Chakra Petch', sans-serif;
    animation: slide_up 0.75s;
}

.message_container .message_item:nth-child(1) {
    min-height: 7vh;
}

.message_container .message_item:nth-child(2) {
    min-height: 4vh;
}

.message_container .message_item:nth-child(3) {
    min-height: 2vh;
}

.auth_greetings {
    font-size: 10pt;
}

.auth_greetings span { 
    font-family: 'Pacifico', cursive;
}

.auth_greetings span p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.auth_greetings p {
    font-family: 'Caveat', cursive;
}

.auth_greetings h5 {
    font-family: 'Press Start 2P', cursive;
}

.auth_button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #23272A;
    height: 2.75em;
}

@keyframes slide_up {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0vh);
    }
}

@keyframes grow_from_center {
    from {
        transform: scale(0) translateY(-3rem);
    }
    to {
        transform: scale(1) translateY(-3rem);
    }
}