<div class = "form-container">
  <div class = "image-container">
    <h3>Become {{become}}!</h3>
    <img src = "/images/emojis/spy.svg">
  </div>
  <form method = "post">
    <div class = "form-group">
      <input  class = "form-control" type = "password" name = "password" placeholder = "Enter {{become}} Password" required> <br>
      <button class = "btn btn-warning" type = "submit">
	<span class = "glyphicon glyphicon-log-in"></span> &nbsp; Submit
      </button>
    </div>
  </form>
</div>