<div class = "form-container">
  <div class = "image-container">
    <h3>Create Message!</h3>
    <img src = "/images/emojis/spy.svg">
  </div>
  <form method = "post">
    <div class = "form-group">
      <input class = "form-control" type = "text" name = "title" placeholder = "Enter Title" required> <br>
      <textarea class = "form-control" type = "text" name = "message" placeholder = "Enter Your Message Here" required></textarea> <br>
      <div class = "age-range">
        <input class = "form-control ageInput" type = "number" min= "10" name = "minAge" placeholder = "Enter the lower age limit" required> <br>
        <input class = "form-control ageInput" type = "number" min= "10" name = "maxAge" placeholder = "Enter the higher age limit" required> <br>
      </div>
      <button class = "btn btn-warning submit-button" type = "submit"> 
	<span class = "glyphicon glyphicon-log-in"></span> &nbsp; Submit
      </button>
    </div>
  </form>
</div>