.image-container{
  text-align: right;
}

.content-container{
  text-align: center;
}

.app-container:hover{
  animation-play-state:paused;
}

.app-container{
  animation:bounce 0.8s ease-in-out 0s infinite forwards;
  border-radius:50px;
  margin-top:150px;
  width:45%;
}