.date-container, .message-container, .name-container{
  background-color: #fad89f;
  color: black;
  word-break:break-word;
  border-radius:20px;
  padding:4%;
}

.date-container, .name-container{
  font-size: 13px;
  float: right;
  margin: 2%;
}

.name-container strong, .date-container strong {
  margin-left: -5px;
}

.message-container{
  white-space: pre-line;
  font-weight: 600;
  font-size: 12pt;
  color: black;
}

.inner-container{
  margin-top:4%;
  float:right;
}

.app-container:hover{
  animation:emphasis 0.4s ease-in-out 0s 1 forwards;
}