.image-container > img {
  height:auto;
  width:40%;
  margin:5%;
}

.image-container h3 {
  color: #fad89f
}

.form-container{
  box-shadow: 5px 5px 5px #141414;
  background-color:#141414;
  border-radius:20px;
  margin-top:20px;
  margin-right:auto;
  margin-left:auto;
  padding:20px;
  width:40%;
}

.form-control{
  background-color:#1c1c1c;
  border-radius:20px;
  border-color:#1c1c1c;
  color:#ebebeb;
}